.chart{
    width: 260px !important;
    padding-top: 140px;
    z-index: 9;
    position: relative;
}
.chart-design:hover .chart-line{
    background-color: #000;
}
.chart .chart-control{
    background: #FFFFFF;
    box-shadow: 0px 15px 50px rgba(160, 163, 189, 0.1);
    border-radius: 10px;
    width: 186px;
    height: 86px;
    padding: 20px;
    margin-bottom: 24px;
    position: relative;
}
.chart .chart-control h5 {
    font-size: 14px;
}
.chart .chart-control span{
    color: #3E66FB;
}
.chart .chart-details p{
   color:#C2C9D1;
   font-size: 12px;
   width: 127px;
}
.chart-line-curve img {
    position: absolute;
    left: -56px;
    top: 0px;
    width: auto;
}
.chart-control-disable span{
    opacity: 50%;
}
.chart-nav .chart-line,.chart-line-verticle{
    position: relative;
    width: 195px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), #3E66FB;
    height: 16px;
    top: 38px;
    left: -52px;
    z-index: 0;
}
.chart-line-verticle{
    transform: rotate(90deg);
    height: 16px !important;
    width: 428px;
    top: 255px;
    left: -262px !important;
    z-index: -1;
}
.chart  .circle{
    width: 18.7px;
    height: 18.7px;
    border-radius: 100%;
    position: absolute;
    background-color: #3E66FB;
    top: 20px;
    right: 20px;
    opacity: 100%;
}
.design-mode .chart-progrss-status {
        position: relative;
        transform: rotate(319deg);
        top: 60px;
        left: 50px;
}
.defin-design .chart-progress-status {
    top: 97px;
    position: relative;
    transform: rotate(-43deg);
    left: -59px;
}
.main-chart .progress-bar,.CircularProgressbar .CircularProgressbar-text,.progress-circle span {
    width: 80px !important;
    color: #fff;
    height: 80px !important;
    background-color: rgba(218, 189, 255, 1)!important;
    border-radius: 100%;
    border: 10px solid rgba(181, 123, 255, 0.5);
    position: absolute;
    top: 0;
    line-height: 62px;
    left: 60%;
    z-index: 9999;
}
svg.progress-bar-shape {
    top: 37%;
    position: absolute;
    left: 5%;
    transform: rotate(3deg);
}
.define-mode svg.progress-bar-shape path {
    fill: rgba(218, 189, 255, 1);
}
.shape-2 svg.progress-bar-shape {
    top: 30%;
    transform: rotate(269deg);
    left: 41%;
}
.main-chart{
    position: relative;
    width: 300px;
}
.progress-define{
    width: 500px;
    height: 500px;
    border-radius: 100%;
    border: 50px solid #3E66FB;
    position: absolute;
}
.progress-define::before{
    background-color: #fff;
}
.improove-embed {
    margin-left: 44px;
    position: relative;
    top: -21px;
}
.chart-design:hover .round-wrapper path {
    fill: #0d6efd;
    opacity: 1 !important;
}
.chart-design:hover .round-progressbar #blue-arc {
    stroke: #9de09d !important;}
.chart-design:hover .round-progressbar #arc{
    stroke: rgba(235, 249, 235, 1);
}
.chart-design:hover .stroke-3 {
    stroke: #3CC13B;
    fill:  #9de09d !important;;
}
.shape-inner-inner{
    width: 155px;
    height: 155px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), #3E66FB;
    border-radius: 210% 20px 20px 20px;
    position: relative;
    top: -138px;
    right: -89px;
    z-index: 3;
}
.design-mode .shape-inner-inner {
    top: -31px;
    right: -63px;
}
.design-mode .shape-inner:before {
    left: 81px;
    top: 284px;
}
.embed-mode .shape-inner-inner {
    top: -61px;
    left: 198px;
}
.embed-mode .shape-inner:before {
    top: 255px;
    left: 213px;
}
.embed-mode svg.progress-status {
    left: 81px;
    top: 91px;
    transform: rotate(268deg);
}
.shape-inner:before {
    z-index: 4;
    position: absolute;
    content: "";
    height: 127px;
    width: 127px;
    background: rgba(255, 255, 255, 0.25);
    opacity: 0.5 !important;
    left: 64px;
    top: 54px;
    border-radius: 510px 20px 20px 20px
}
.round-wrapper {
    position: absolute;
}
.design-mode .round-wrapper {
    top: -92px;
    left: 44px;
    position: absolute;
    transform: rotate(2deg);
}
.improve-mode svg.round-wrapper {
    left: -37px;
    transform: rotate(181deg);
    top: 9px;
}
.shape-inner-inner img{
    opacity: 1 !important;
    text-align: center;
    position: absolute;
    top: 65px;
    left: 74px;
    z-index: 5;
}
.shape.shape-2{
    left: -46px;
    top: -11px;
    width: 300px;
    transform: rotate(0deg);
    position: relative;
}   
.design-mode .define-shape{
    left: 50px;
    position: relative;
    height: auto;
    transform: rotate(90deg);
}
.design-mode .define-shape::before {
    top: 117px;
    left: -94px;
}
.improve-mode .define-shape::before {
    top: 111px;
    left: -96px;
}
svg.progress-status {
    top: 27px;
    position: relative;
    transform: rotate(273deg);
    left: 17px;
}
.shape-inner:before {
    z-index: 4;
    position: absolute;
    content: "";
    height: 127px;
    width: 127px;
    background: rgba(255, 255, 255, 0.25);
    opacity: 0.5 !important;
    left: 131px;
    top: 146px;
    border-radius: 510px 20px 20px 20px;
}
.define-mode .shape-inner-inner {
    top: -165px;
    left: 115px;
}
h5.text-10.chart-text {
    transform: rotate(12deg);
    margin-top: 13px;
}
h5.text-1 {
    transform: rotate(-23deg);
    margin-top: 9px;
}
h5.text-2 {
    margin-top: 5px;
    transform: rotate(-17deg);
}
h5.text-3 {
    transform: rotate(-9deg);
    margin-top: 2px;
}
h5.text-7 {
    transform: rotate(4deg);
    margin-top: 1px;
}
h5.text-9.chart-text {
    margin-top: 8px;
    transform: rotate(2deg);
}
h5.text-8.chart-text {
    margin-top: 4px;
    transform: rotate(2deg);
}
h5.text-7 {
    transform: rotate(4deg);
    margin-top: 1px;
}
h5.text-3 {
    transform: rotate(-9deg);
}
h5.text-4 {
    margin-top: 0px;
    transform: rotate(-5deg);
}
.shape-2 .progress-bar {
    transform: rotate(-90deg) !important;
    left: 34% !important;
    top: 37% !important;
}
.define-mode {
    margin-left: 37px;
    cursor: pointer;
    position: relative;
}
.shape-3 svg.progress-bar-shape {
    transform: rotate(92deg);
    top: -16px;
    left: 34px;
}
.improve-mode svg.progress-status {
    left: 0px;
    top: 0px;
}
.chart-design:hover .main-chart .progress-bar{
    background: rgba(109, 209, 108, 1) !important;
    border: 10px solid rgba(60, 193, 59, 1);
}
.chart-design:hover .shape-inner-inner{
    background: rgba(62, 102, 251, 1);
    box-shadow: 0px 13px 31.85px rgba(62, 102, 251, 0.44);
}
.chart-design:hover.shape-inner:before{
    background: rgba(110, 140, 252, 1);
}
.define-mode.chart-design .round-wrapper{
    position: absolute;
    z-index: 0;
    transform: rotate(-90deg);
    top: -57px;
    left: -81px;
}
.round-wrapper{
    position: absolute;
}
.shape-2 .shape-inner-inner img {
    left: 56px;
}
.embed-mode {
    position: relative;
    margin-left: 82px;
    cursor: pointer;
    top: -32px;
}

.embed-mode svg.round-wrapper {
    transform: rotate(90deg);
    top: 61px;
    left: -30px;
}
.chart-all{
    margin-top: 75px;
}
.design-mode {
    margin-top: 3px;
    margin-left: -80px;
    cursor: pointer;
    position: relative;
}
.design-mode {
    margin-top: 41px;
    margin-left: -30px;
    cursor: pointer;
}
.icon:hover{
    fill: #C2C9D1;
}
.defin-design {
    margin-left: 50px;
    height: 310px;
}
.shape.shape-3.main-chart{
    height: 205px;
}
.shape.shape-3 img{
    transform: rotate(90deg);
    left: 63px;
}
.improve-mode .define-shape{
    transform: rotate(270deg);
}
.improve-mode {
    margin-top: 20px;
    cursor: pointer;
    position: relative;
}
.improve-title h5.text-7 {
    margin-top: -11px;
    transform: rotate(-16deg);
}
.improve-title h5.text-4 {
    margin-top: 4px;
    transform: rotate(-7deg);
}
.improve-title h5.text-6 {
    margin-top: -4px;
    transform: rotate(-12deg);
}
.improve-title h5.text-5 {
    transform: rotate(-14deg);
    margin-top: 0px;
}
.improve-title h5.text-1 {
    transform: rotate(0deg);
    margin-top: 12px;
}
.improve-title h5.text-2 {
    margin-top: 10px;
    transform: rotate(-3deg);
}
.improve-title h5.text-3 {
    margin-top: 8px;
}
.shape.shape-3 .progress-bar {
    transform: rotate(90deg);
    top: 56%;
    left: 8px;
}
.shape-4 svg.progress-bar-shape {
    top: 159px;
    left: 82px;
    transform: rotate(178deg);
}
.shape-4 .progress-bar {
    left: 46%;
    transform: rotate(130deg);
    top: 62%;
}
.design-mode svg.progress-status {
    top: 128px;
    transform: rotate(-90deg);
    left: -15px;
}
.embed-mode .define-shape{
transform: rotate(180deg);
}
.shape.shape-4.main-chart img {
    transform: rotate(180deg);
}
.embed-mode .define-shape::before {
    top: 114px;
    left: -99px;
}
.chart-title.design-title {
    top: 95px;
    left: 71px;
    transform: rotate(-11deg);
}
.chart-title.embed-title {
    top: 377px;
    right: 159px;
    transform: rotate(113deg);
}
.embed-title h5.text-1 {
    transform: rotate(0deg);
}
.embed-title h5.text-2 {
    transform: rotate(-4deg);
    margin-top: 8px;
}
.embed-title h5.text-3 {
    margin-top: 6px;
}
.embed-title h5.text-4 {
    transform: rotate(-7deg);
    margin-top: 4px;
}
.embed-title h5.text-5 {
    transform: rotate(-10deg);
}
.chart-title.improve-title {
    right: 74px;
    transform: rotate(168deg);
    top: -43px;
}
.title-curve{
    width: 500px;
}
.improve-mode .shape-inner::before {
    top: 123px;
    left: 108px;
}
.chart-all:hover .chart-line {
    background: linear-gradient(90deg, rgb(198 210 254), rgba(62, 102, 251, 1));
}
.chart-line{
    width: 195px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), #3E66FB;
    height: 20px;
}
.chart-title {
    position: absolute;
    transform: rotate(-65deg);
    top: 126px;
    left: -120px;
    letter-spacing: 8px;
    color: #fff;
    text-transform: uppercase;
}
.chart-title h5 {
    font-size: 24px;
}
.improve-mode .shape-inner-inner {
    position: relative;
    top: -190px;
}
.improve-mode .chart-progress-status {
    transform: rotate(323deg);
    top: 57px;
    left: -62px;
    position: relative;
}
.embed-mode .shape-inner-inner img {
    transform: rotate(180deg);
}
.round-progressbar {
    transform: rotate(-43deg);
    position: relative;
    top: -4px;
    left: -14px;
}
#arc{
    stroke-dasharray: 100%;
    stroke-dashoffset:-35%;
    stroke-linecap: round;
}
path#blue-arc {
    stroke-linecap: round;
}
.design-mode .round-progressbar {
    transform: rotate(-42deg);
    position: relative;
    top: 125px;
    left: -65px;
}
.design-mode .round-progressbar #arc{
    stroke-dashoffset: -20%;
}
.embed-mode .round-progressbar #arc{
    stroke-dashoffset: -35%;
}
.improve-mode .round-progressbar #arc{
    stroke-dashoffset: -75%;
}
.embed-mode .round-progressbar {
    top: 123px;
    left: 50px;
    transform: rotate(-49deg);
}
.improve-mode .round-progressbar {
    left: -33px;
    top: -26px;
}
svg text {
    font-size: 6px;
    text-anchor: end;
    alignment-baseline: middle;
    fill: #fff;
}
.stroke-3 {
    stroke: rgba(181, 123, 255, 1);
    stroke-width: 3%;
  }